<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/header :: header}"></div>
<!-- Contenido de la página -->
<div>
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" th:href="@{/index}">Inicio</a>
                    <span class="breadcrumb-item active">Contacto</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Contáctenos</span>
        </h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <th:block th:if="${mensajeEnviado}">
                        <div class="col-12 text-center">
                            <h3>Correo enviado correctamente.</h3>
                        </div>
                    </th:block>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate" action="/contact" method="post">

                        <div class="control-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Tu Nombre"
                                   required="required"
                                   data-validation-required-message="Por favor introduzca su nombre"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Tu Email"
                                   required="required"
                                   data-validation-required-message="Por favor introduzca su email"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Asunto"
                                   required="required" data-validation-required-message="Por favor ingresa un asunto"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" rows="8" id="message" name="message" placeholder="Mensaje"
                                      required="required"
                                      data-validation-required-message="Por favor ingrese su mensaje"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Enviar
                                Mensaje
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <div class="bg-light p-30 mb-30">
                    <iframe style="width: 100%; height: 250px; border: 0;"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26804.49868128959!2d-68.87911867920579!3d-32.88329747186751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e093ec45179bf%3A0x205a78f6d20efa3a!2sMendoza%2C%20Capital%2C%20Mendoza!5e0!3m2!1ses-419!2sar!4v1710835903781!5m2!1ses-419!2sar"
                            allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="bg-light p-30 mb-3">
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Calle 123, Mendoza, Argentina
                    </p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
</div>
<!-- Incluir el pie de página -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>