<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/header :: header}"></div>
<!-- Contenido de la página -->
<div>
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" th:href="@{/index}">Inicio</a>
                    <span class="breadcrumb-item active">Tienda</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <form id="filterForm" action="/shop" method="get">

                    <!-- Price Filter Section -->
                    <fieldset>
                        <legend class="section-title position-relative text-uppercase mb-3"><span
                                class="bg-secondary pr-3">Filtrar por precio</span></legend>
                        <div class="bg-light p-4 mb-30">
                            <div class="form-group">
                                <label for="price-max">Precio máximo:</label>
                                <input type="number" class="form-control" id="price-max" name="price-max" min="0"
                                       max="1000000" step="1000">
                            </div>
                        </div>
                    </fieldset>

                    <!-- Tipo Filter Section -->
                    <fieldset>
                        <legend class="section-title position-relative text-uppercase mb-3">
                            <span class="bg-secondary pr-3">Filtrar por categoría</span>
                        </legend>
                        <div class="bg-light p-4 mb-30">
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="color-1" name="productType"
                                       value="2">
                                <label class="custom-control-label" for="color-1">Pantalones</label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="color-2" name="productType"
                                       value="1">
                                <label class="custom-control-label" for="color-2">Remeras</label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="color-3" name="productType"
                                       value="3">
                                <label class="custom-control-label" for="color-3">Zapatillas</label>
                            </div>
                        </div>
                        <!-- Tipo End -->
                    </fieldset>

                    <!-- Size Filter Section -->
                    <fieldset>
                        <legend class="section-title position-relative text-uppercase mb-3"><span
                                class="bg-secondary pr-3">Filtrar por talle</span></legend>
                        <div class="bg-light p-4 mb-30">
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="size-1" name="size" value="XS">
                                <label class="custom-control-label" for="size-1">XS</label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="size-2" name="size" value="S">
                                <label class="custom-control-label" for="size-2">S</label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="size-3" name="size" value="M">
                                <label class="custom-control-label" for="size-3">M</label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="size-4" name="size" value="L">
                                <label class="custom-control-label" for="size-4">L</label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                                <input type="checkbox" class="custom-control-input" id="size-5" name="size" value="XL">
                                <label class="custom-control-label" for="size-5">XL</label>
                            </div>
                        </div>
                    </fieldset>

                    <!-- Botón de filtro -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </form>
            </div>
            <!-- Shop Sidebar End -->

            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">

                    <th:block th:if="${noProductos}">
                        <div class="col-12 text-center">
                            <h3>No se encontraron productos</h3>
                        </div>
                    </th:block>

                    <th:block th:if="${not #lists.isEmpty(productos)}">
                        <div th:each="producto : ${productos}" class="col-lg-4 col-md-6 col-sm-6 pb-1">
                            <div class="product-item bg-light mb-4">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100" th:src="${producto.imagen}" alt="">
                                    <div class="product-action">
                                        <a class="btn btn-outline-dark btn-square">
                                            <form th:action="@{/add}" method="post">
                                                <input type="hidden" name="id" th:value="${producto.id}">
                                                <button type="submit" class="btn btn-outline-dark btn-square"><i
                                                        class="fa fa-shopping-cart"></i></button>
                                            </form>
                                        </a>
                                        <a class="btn btn-outline-dark btn-square"
                                           th:href="@{'/detail/' + ${producto.id}}"
                                           href=""><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="text-center py-4">
                                    <a class="h6 text-decoration-none text-truncate" th:text="${producto.nombre}"
                                       href=""></a>
                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                        <h5 th:text="${producto.precio}"></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>

                    <div class="col-12">
                        <nav>
                            <ul class="pagination justify-content-center">
                                <th:block th:each="pagina : ${#numbers.sequence(1, totalPaginas)}">
                                    <li class="page-item" th:if="${paginaActual > 0}"
                                        th:classappend="${pagina == paginaActual} ? 'active' : ''">
                                        <a class="page-link"
                                           th:href="@{/shop(page=${pagina}, price-max=${maxPrice != null ? maxPrice : ''}, size=${talles != null ? talles : ''}, search=${busqueda != null ? busqueda : ''}, productType=${idTipoProducto != null ? idTipoProducto : ''})}"
                                           th:text="${pagina}"></a>
                                    </li>
                                </th:block>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->
</div>
<!-- Incluir el pie de página -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>